/* body { 
/* background-color: #18181B; 
/* height: 100%;
    margin: 0;
    padding: 0; */

/* } */

.settingsPage {
    height: 100vh;
    background-color: #1e1e1e;
}

.settingsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24vh;
}


.labelsettingsname,
.labelsettingsmail,
.labelsettingsoldpassword,
.labelsettingsnewpassword {
    color: white;
    font-family: "Inter", sans-serif;


}

.inputsettingsContainer {
    margin-bottom: 0.8em;
    display: flex;
    align-items: center;
    width: 22vw;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(218, 208, 208);
    margin-top: 0.5em;
}

.inputsettingsContainer input {
    height: 40px;
    width: 20vw;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: 0.5em;
}



.submitsettingscontainer {
    margin-bottom: 1em;
    margin-top: 2em;
    display: flex;
    width: 22vw;
    height: 40px;
}

.submitsettingscontainer input {
    cursor: pointer;
    border-radius: 10px;
    height: 41px;
    width: 21vw;
    background-color: rgb(26, 95, 255);
    color: #ffffff;
    font-size: 18px;
    border: none;
}

.settingsdiv {
    color: white;
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;

}

.settings {
    margin-bottom: -22vh;
}

.logoutcontainer {
    display: flex;
    margin-top: 17vw;
    margin-left: 3vw;
}



.error {
    color: red;
    margin-bottom: 4em;
}

::placeholder {
    font-size: 12px;
}